<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add contact</title>
</head>
<body bgcolor="#E8D4F8">
<h2><span style="color:"#40175F"; font-family:Impact, Charcoal, sans-serif;">Add a Contact</span></h2>
<FORM action="/confirm" method="post">
    <table table border="1">
        <tr><td>First name:</td> <td><input type="text" name="first_name"/></td></tr>
        <tr><td>Last name:</td> <td><input type="text" name="last_name"/></td></tr>
        <tr><td>Phone:</td><td><input type="text" name="phone"/></td></tr>
        <tr><td>Email:</td><td><input type="text" name="email"/></td></tr>
    </table>
    <input type="reset" value="reset"/>
    <input type="submit" value="add contact"/><br>
</FORM>
<a href = "home"> Home</a><br>
<a href = "list"> List all contacts</a><br>
</body>
</html>