<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address Book</title>
</head>
<html>
<body bgcolor="#FFD2D2">
<h1><span style="color:#E77F7F; font-family:Impact, Charcoal, sans-serif">Hello. Welcome to your address book.</span> &#9743;</h1><br>
<h3><span style="color:#E77F7F;">Select the links to view your contacts and to add new ones.</span></h3><br>
<a href = "home"> Home</a><br>
<a href = "add"> Add Contact</a><br>
<a href = "list"> List all contacts</a><br>
&copy; 2019
</body>
</html>