<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#FFFFFF">
<h2>&#9775;<span style="color:#000000; font-family:Impact, Charcoal, sans-serif">List of Contacts</span>&#9775;</h2>
{%if contact_list is defined and contact_list|length>0%}
<table table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
    </tr>
    {% for contact in contact_list %}
    <tr>
        <td>{{contact.first_name}}</td>
        <td>{{contact.last_name}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td><a href="/delete/{{contact.phone}}">Delete</a></td>
    </tr>
    {%endfor%}
    {%else%}
    no contacts found
    {%endif%}
</table><br>
<a href = "../home"> Home</a><br>
<a href = "../add"> Add Contact</a><br>
</body>
</html>